################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cmd_Demo/obj/Debug/netcoreapp2.1/Cmd_Demo.csprojAssemblyReference.cache
